@import '../abstract/variaveveis';
nav {
    text-align: center;
    background-color:$cor-topbar;
    ul{
      
        li{
            display: inline-block;
            padding: 1rem;
            
            a{
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 300;
                color: $cor-subtitulo;
                &:hover {
                    border-bottom: 2px solid $cor-subtitulo;
                }
                
            }
        }
    }
}