//Fontes
$fonte: 'Roboto' , sans-serif;
//Cores
$cor-primaria: #08e07bda;
$cor-secundaria:  #03775483;
$cor-terciaria: #60f30b;
$cor-subtitulo: #0f4964;

//tamanho-do-texto

$tamanho-do-texto: 3rem;
$tamanho-do-texto-dois: 2rem;