//Fontes
$fonte: 'Roboto' , sans-serif;
//Cores
$cor-primaria: #10f2fa;
$cor-secundaria:  #141007;
$cor-terciaria: #555708;
$cor-subtitulo: #90f7beda;
$cor-topbar: #045224;

//tamanho-do-texto

$tamanho-do-texto: 3rem;
$tamanho-do-texto-dois: 2rem;